link(rel="stylesheet", type="text/css", href="/stylesheets/chat.css")
link(rel="stylesheet", type="text/css", href="/stylesheets/syntaxhighlighter/shThemeDefault.css")
.loading(id='loading')
  p
    img(width="32", height="32", src="/images/spinner.gif") 
    | Loading...
.container(style='display:none;')
  .wrapper
    ul(class="nav nav-pills")
      li(class="active")
        a(href="#home", data-toggle="tab", class="room-name") Collab 
      .alert(class="room-subject alert-info") 
    .tab-content
      .tab-pane(class="active", id="home")      
        .row-fluid
          .span9
            .messages-container
              .messages
          .span3
            .users(class="well sidebar-nav")
              ul(id="user-list"
              class="nav nav-list")
                li(class="nav-header")  Users
      
    .push
  .footer-wrapper
    .row-fluid
      .span9
        .sendbar(class="well")
          table(class="chat")
            tr
              td(class="chat-text")
                textarea(id="text-input")
              td(class="spacer")
                .spacer(class="spacer")
              td(class="send-button")
                input(type="button"
                class="btn-large btn-primary"
                value="Send"
                id="send-button")
    .footer
      footer  &copy; Vision Critical 2012

- scripts.push('chat.js'); 
  script(type='text/javascript', src='/nowjs/now.js')
