!!! 5
html
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap/css/bootstrap.min.css")
    != renderScriptTags(scripts)
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/auth-buttons.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/sticky.css")
    link(rel="stylesheet", href="/stylesheets/github.css")
  body
    .navbar.navbar-fixed-top  
      .navbar-inner
        .container
          a(href="/").brand collab
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
          - if (isLoggedIn)
            != partial('user/account')

!{body}