section#wrapper
  .container
    .hero-unit
      h1  about col&middot;lab
      blockquote 
        p
          |  &ldquo;Having worked as a software engineer on sparq2 forums, and hearing feedback from product management that
          |  we needed more engagement from forum users, I felt that we needed a product that was a little more real-time.
          |  What I felt we needed was an online place where users could <strong>collaborate</strong>, and the idea for collab was born.&rdquo;
        small
          | Phil Jepsen
    p
      |  Collab is an online platform where users can engage in conversation in real-time.    Users can also exchange images, video, files within
      |  their web browser, no messy downloads or product installs required.  Collab has public and private chat rooms, file sharing, full message history,
      |  and instant image/video preview.  
    p
      |  The road-map for collab includes support for 1-1 private messaging, user administration, user roles, user invitations, full message search, and a public API.

    p
      |  <strong>The Collab Tech Stack</strong>
     
    p	  
      |  Client:
    ul
      li  HTML5
      li  JQuery
      li  Socket.IO & Websockets (AJAX Fallback)
      li  Twitter Bootstrap (UI)
      li  JADE (Templating language)

    p
      |  Server:
    ul  
      li  NodeJS
      li  Redis  (session state)
      li  MongoDB  (document storage)
      li  NowJS  (chat)
    include ../common/footer.jade