section#wrapper
  .container
    .hero-unit
      h1  contact us
      p
        | Please send your comments and feedback to:
        | <a href="mailto:phil.jepsen@visioncritical.com&subject=collab">phil.jepsen@visioncritical.com</a>
  include ../common/footer.jade