section#wrapper
  .container
    .gap-30
    h1
      | Bugger something went wrong!
    .gap-20
    p Try going back to the <a href="/">home</a> page or <a href="/contact">contact us</a> if the problem persists.
    .image
      img(src="/images/bug.png")
    include ../common/footer.jade