link(rel="stylesheet", type="text/css", href="/stylesheets/forms.css")
section#wrapper
  .container
    .row
      .gap-30
    form(method='post', action='/forgotpassword', id='password-form', class="well")
      fieldset
        h3 Forgot your password?
        .gap-20
        p
          | <b>collab</b>
          | will send password reset instructions to the email address associated with your user account.  
        .control-group
          label(class='control-label'
            for='email') Email:
          .controls
            input.required(name='email', id='email', size=40)
        button(type="submit" 
          class="btn btn-primary") Send instructions

  include ../common/footer.jade   
     
- scripts.push('forgotpassword.js'); 
