section#wrapper
  .container
    .hero-unit
      h1 col&middot;lab 
        em /kuh-lab/
        .about to work, one with another;
      p Collab is a <b>collaboration</b> tool for working with others.  Exchange messages, files, video, pictures and more, all within your browser.
      p
        a(href="/login", class="btn btn-primary btn-large")  Start Collaborating!
        &nbsp;
        a(href="/register", class="btn btn-success btn-large")  Join Collab