link(rel="stylesheet", type="text/css", href="/stylesheets/forms.css")
section#wrapper
  .container
    .row
      .gap-30
    form(method='post', action='/login', id='login-form', class="well")
      - if (flashMessages.length > 0)
        .alert(class='alert-error fade in') 
          a(class="close", data-dismiss="alert") &times;
          - each message in flashMessages
           #{message}
      fieldset
        h3 Login
        .gap-20
        .control-group
          label(class='control-label', for='email') Username or email:
          .controls
            input.required(name='email', id='email', size=40)
        .control-group
          label(class='control-label', for='password') Password:
          .controls
            input.required(name='password', id='password', type='password', size=40)
        p(class='label_checkbox')
          input(name='remember_me', id='remember_me', type='checkbox')  
          label(class='control-label', for='remember_me') Remember me
        p
          a(href="/forgotpassword") Help I forgot my damn password!   
        button(type="submit" 
          class="btn btn-primary") Login
        &nbsp;
        a(href="/register", class="btn btn-success") Join Collab
     
  include ../common/footer.jade