section#wrapper
  .container
    .gap-30
    h1
      | Password reset!
    .gap-20
    p Your password has been successfully reset <a href="/login">login</a> now.
    .image
  include ../common/footer.jade