/* Override container width */
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 100% !important;
  padding-left: 50px;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 100% !important;
}

.navbar .nav.pull-right {
  padding-right: 90px;
}

.room-subject {
	display: none;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.room-name {
	display: none;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.loading img {
	padding-right: 5px;
}

.alert {
	margin-bottom: 0px;
}

.tab-content {
	overflow: hidden;
}