/* Override some defaults */
html, body {
  background-color: #fff;
}
body {
 /* padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  background: url("/images/bg.png") repeat scroll 0 0 transparent;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  /*width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.brand {
	background-image: url("../images/collab-logo.png");
	background-position: 80px 9px;
	background-repeat: no-repeat;
	padding-right: 35px !important;
}

.gap-20 {
	margin-top: 20px;
}

.gap-30 {
	margin-top: 30px;
}

.topbar .btn {
  border: 0;
}
.span8 {
}

p.label_checkbox {
	clear: both;
	float: none;
	position: relative;
}
p.label_checkbox input {
	position: absolute;
}
p.label_checkbox label {
  display: block;
  margin-left: 20px;
  width: 200px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.sendbar {
  padding-bottom: 20px;
  padding-top: 20px;
}

.sendbar.well {
  background: -moz-linear-gradient(#FCFCFC, #EBEBEB) repeat scroll 0 0 transparent;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px 0 0 5px;
	 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sendbar input {
	margin: 0 5px 5px 0;
}

#text-input {
  font-size: 150%;
	height: 30px;
	width: 100%;
	max-height: 30px;
	resize: none;
}

#send-button {
	width: 100px;
}

.chat-text {
	width: 95%;
}

.spacer {
  width: 10px;
}

.send-button {
	width: 120px;
	vertical-align: top;
}

.navbar .nav.pull-right {

}

.messages-container {
  font-size: 12px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  margin-left: 0;
  padding: 5px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.messages {
  vertical-align: top;
}

.message {
	padding-top: 5px;
}

.sidebar-nav {
  border-radius: 4px 4px 4px 4px;
}

.nav-tabs, .nav-pills {
  padding-top: 20px;
}

.users.well.sidebar-nav {
  font-size: 12px;
  padding-left: 0 !important;
}

.nav {
  list-style: none outside none !important;
  margin-left: 0;
}

.nav-list {
	margin-bottom: 0;
	padding-left: 14px;
	padding-right: 14px;
}

.nav-header {
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a, .nav-list .nav-header {
  margin-right: -35px;
}

.nav-header {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 15px;
  text-transform: uppercase;
}

.well {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  min-height: 20px;
}

.nav-list .active > a, .nav-list .active > a:hover {
  background-color: #0088CC;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.hero-unit {
  margin-top: 30px;
}

.hero-unit p {
	padding-top: 10px;
}

h1 em {
	color: #666666;
	font-size: 18px;
	font-style: normal;
	left: 5px;
	position: relative;
	top: -5px;
}

.hero-unit .about {
	color: #666666;
	display: inline;
	font-size: 18px;
	font-weight: normal;
	padding-left: 10px;
	position: relative;
	top: -5px;
}


/* Messages */

.message-wrapper {
  border-bottom: 1px solid #E8E8E8;
  min-height: 51px;
  padding: 9px 12px;
  position: relative;
  margin-bottom: 5px;
}

.message-wrapper-server {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}

.message-wrapper-user {
  background: none repeat scroll 0 0 #E0F2F7;
  border-radius: 5px 5px 5px 5px;
}

.message-wrapper-user  .message-time {
  background: none repeat scroll 0 0 #ffffff !important;
}

.message-wrapper-user .avatar {
  background: none repeat scroll 0 0 #ffffff !important; 
}

.message-inner {
  margin-left: 58px;
}

.avatar {
  position: absolute;
  left: 12px;
  background: none repeat scroll 0 0 #CCCCCC;
  top: 12px;
  border-radius: 5px 5px 5px 5px;
  height: 48px;
  width: 48px;
}


.message p{
  display: inline-block;
  height: 100%;
  max-width: 400px;
  min-height: 18px;
  padding: 5px;
  vertical-align: middle;
}

.server-message p{
  display: inline-block;
  height: 100%;
  max-width: 400px;
  min-height: 18px;
  padding: 5px;
  vertical-align: top;
}


div.title {
	padding-top: 2px;
}

div.body {
	padding-top: 2px;
}

div.screen-name {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 100%;
  line-height: 18px;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}

div.server {
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  height: 48px;
  width: 48px;
  background-image: url(../images/robot.png);
}

div.message-time {
  background: none repeat scroll 0 0 #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  float: right;
  font-size: 11px;
  height: 100%;
  max-width: 400px;
  padding: 5px;
  vertical-align: middle;
}


.newroom input {
	float: left;
}

.biginput {
	width: 310px !important;
}

.newroom label {
  padding-left: 20px;
}

.controls.newroom {
	padding-left: 0px;
}

.controls.newroom p {
	font-size: 12px;
	color: #999;
}

.loading {
	padding-top: 15px;
	padding-left: 10px;
}

