.footer(id="footer")
  .footercontent
    .innerContent
      p(class="links")
        a(href="/about") About
        a(href="/contact") Contact
        a(href="/privacy") Privacy
        a(href="/terms") Terms
        a(href="http://twitter.com/wired8", class="twitter") Follow Us
      p(class="copy") &copy; Wired8 2012